<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ninja | <%= title %></title>
  </head>

  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
      </div>
      <ul>
        <li><a href="/">BLog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam
        quaerat illo a modi tenetur ut blanditiis, illum quo consectetur
        recusandae excepturi natus impedit rem, tempora cum fuga quae in.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam
        quaerat illo a modi tenetur ut blanditiis, illum quo consectetur
        recusandae excepturi natus impedit rem, tempora cum fuga quae in.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam
        quaerat illo a modi tenetur ut blanditiis, illum quo consectetur
        recusandae excepturi natus impedit rem, tempora cum fuga quae in.
      </p>
    </div>
  </body>
</html>
